.row
  .span6.alert-message.block-message.success
    %h3= link_to "Authorize Net Reports", authorize_net_reports_path
    Extract reporting and statistical data on existing transactions from Authorize.net
    %br
    %br
    %h5 Gems:
    = link_to "authorize_net_reporting", "https://rubygems.org/gems/authorize_net_reporting", :target => "blank"
   
    
    
  