.row
  .span4.alert-message.block-message.success
    %h3 Experiment 1
    Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis 
    
  .span3.alert-message.block-message.success
    %h3 Experiment 2
    Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, 
  
  .span3.alert-message.block-message.success
    %h3 Experiment 3
    Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, 
  
  .span4.alert-message.block-message.success
    %h3 Experiment 4
    Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis  